body {padding-top: 50px;}
figure{display: inline;padding-right: 10px}
img{width:225px;height:200px;cursor:pointer;}
.paddingdown{padding-bottom:20px;border-bottom: 1px solid #CCC}
.imageBack{ background:url("../images/web.png") no-repeat center fixed;background-size: cover;}
.posi{font-size: 20px;color: #fff; position: relative;top: 270px;right: 73px;}
.paddigRig{display:inline;}
.userid{padding:10px;background-color:beige;margin-bottom: 10px;cursor:pointer;width:325px;}
.userinfo{clear: both;width: 325px;background: gainsboro;padding: 10px;margin-bottom:10px; }
.hidden{display:none;}
.thead-inverse{background-color: #CCCCCC;}
#shopContainer{margin-top: 30px;}
.posiAnimation a {
  color: #FFF;
    position: relative;
    -webkit-animation: myfirst 5s linear 2s infinite alternate; /* Chrome, Safari, Opera */
    animation: myfirst 5s linear 2s infinite alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {color:#FFF; }
    25%  {color:yellow; }
    50%  {color:#FFF; }
    75%  {color:green; }
    100% {color:#FFF; }
}

/* Standard syntax */
@keyframes myfirst {
     0%   {color:#FFF; }
    25%  {color:yellow; }
    50%  {color:#FFF; }
    75%  {color:green; }
    100% {color:#FFF; }
}