body {padding-top: 50px;}
figure{display: inline;padding-right: 10px}
img{width:225px;height:200px;cursor:pointer;}
.paddingdown{padding-bottom:20px;border-bottom: 1px solid #CCC}
.imageBack{ background:url("../images/web.png") no-repeat center fixed;background-size: cover;}
.posi{font-size: 20px;color: #fff; position: relative;top: 270px;right: 73px;}
.paddigRig{display:inline;}
